#========================
# PARAMETROS DE EJECUCION
#========================


# NOMBRE CON QUE SE GUARDARA EL ARCHIVO DE RESULTADOS
# Filename="Prueba.json"


# ARCHIVOS DE ENTRENAMIENTO Y PRUEBA
# 
# >> RECORDAR SETEAR "Ngenes" DE ACUERDO AL DATASET <<
# 


trnfile="/home/leandro/Escritorio/nuevo/FS/data/leuk_train_train.arff"
tstfile="/home/leandro/Escritorio/nuevo/FS/data/leuk_train_valid.arff"

TESTFINALtrnfile="/home/leandro/Escritorio/nuevo/FS/data/leukemia_train_38x7129.arff"
TESTFINALtstfile="/home/leandro/Escritorio/nuevo/FS/data/leukemia_test_34x7129.arff"


# porcentaje de patrones de ENTRENAMIENTO a utilizar
ptrain=70.0

# DIRECTORIO ARCHIVOS DE SALIDA

# outdir="./resultados_para_borrar_leuk_SVM"
outdir="./resultados_para_borrar_leuk_PROBANDOSCRIPT"



# CANTIDAD DE PROCESADORES
NProcesos=12

# EJECUTABLE PARA CALCULO DEL FITNESS
cmd="./fitness"

# EJECUTABLE PARA EL TeST
testbin="./test"

# USAR SVM O ELM
# classifier="elm"
classifier="svm"
# para TeST: svm, elm, all
test_classifier="svm"

#======================
# PARAMETROS de LIBSVM
#======================

# Ver help SVMLIB
# configs_trn=" -s 0 -t 0 -q "
configs_trn=" -s 0 -t 1 -c 10 -g 0.1 -r 1 -d 1 -q "
configs_tst=" -q "

Normalizar=True
DataShuffle=True
NTests=1


#======================
# PARAMETROS de ELM
#======================

# Number of Hidden Neurons
elm_nhn=1000
# NHN -> fixed (False) | nFeats multiplier (True)
elm_nhn_X_nf=False
elm_nhn_max=2000
# Regularizarion Factor
elm_rf=100.0

#======================
# PARAMETROS GENERALES
#======================

# NUMERO DE OBJETIVOS
NObjetivos=3
# 1er Obj -> Classif UAR
# 2do Obj -> # features
# 3er Obj -> Relief Measure

# NUMERO MAXIMO DE GENERACIONES
Gmax=500
# Gmax=2

# PROBABILIDAD DE CRUZA
px=0.90

# TeST solo sobre el mejor del frente
# (menor distancia al punto (1,1) de fintess
onlyBest=True

# Aplicar operador de variacion 
# a los individuos repetidos
ModifyRepeated=True


#======================
# FUNCION DE FITNESS
#======================
# Options
# 1: Rank based Sharing (MOGA)
# 2: Mean-Rank-Distance based Sharing 
# 3: Cluster based Sharing
FitnessOption=3
# Escalar por cant indiv en el rango
FitnessNRScale=False


#======================
# MUTACION
#======================

# PROBABILIDAD DE MUTACION
# pm=0.1
pm=0.2


# MUTACION CON DECAIMIENTO (si falso usa pm)
# Exponencial=True
Exponencial=False
# Multiplicadores de 1/L:
GammaINI=10.0
GammaFIN=0.1

# Funcion Amortiguada
Amortiguada=False
amA=0.35
amF=5.0
amPhi=3.14


#===================
# CRITERIOS DE CORTE
#===================

# FITNESS DESEADO
fitmax=0.9999

# GENERACIONES SIN MEJORAS (porcentaje de Gmax)
steady=100
# =100 -> disabled

#===================
# POBLACION GENERAL
#===================

# NUMERO DE INDIVIDUOS
Nindividuos=70

# NUMERO DE GENES EN EL CROMOSOMA
# Leukemia # 
Ngenes=7129


# NUMERO DE INDIVIDUOS ELITE
# En MOGA se hace un muestreo de los individuos del frente actual,
# por lo tanto deberia ser un numero razonablemente mayor que 1
E=10

# BRECHA GENERACIONAL
# cantidad de invididuos
# Brecha=0
Brecha=10

# METODO DE SELECCION
# [1-Ruleta - 2-Torneo - 3-Ventana]
# OpSeleccion=2
OpSeleccion=1

# METODO DE MUTACION
# [1-de cromosoma - 2-de bit]
OpMutacion=2

# ---------------------------------------------------
# Tasa de activacion de genes en la poblacion inicial
# ---------------------------------------------------

TasaActivacionInicial=0.03
TasaActivacionSubPob=0.5

# ----------------------
# para poblacion general
TasaActivacionEscalonada=True
# para el 55% de la pob
TasaActivacion55=0.03
# para el 30% de la pob
TasaActivacion30=0.15
# para el 15% de la pob
TasaActivacion15=0.35


#===================
# FITNESS SHARING
#===================

# Niche Size (neighborhood size)
SigmaShare=0.04 
AlfaShare=1.0 
# SigmaShare=0.05 
# AlfaShare=1.0
# mayor AlfaShare va a hacer que mas indiv entren en la vecindad 
# Dist 0: genotype space / Dist 1: objective space.
dist_opt=0

#===================
# SUBPOBLACIONES
#===================

# NUMERO DE SUBPOBLACIONES
NSubPoblaciones=0
# NSubPoblaciones=3

# NUMERO DE INDIVIDUOS
Nindividuos_s=50

# NUMERO MAXIMO DE GENERACIONES
Gmax_s=70

# GENERACIONES GENERALES DE ESPERA ENTRE SUBPOBLACIONES
SPobWait=5

# TIPO DE REEMPLAZO DESDE SUBPOS HACIA POBL GENERAL
SubPob_Replace_Type="reemplazo_completo"
# SubPob_Replace_Type="reemplazo_padre"
# SubPob_Replace_Type="reemplazo_seleccion"

# Si falso no uso clasificador para evaluar en SubPob
# SP_Classifier_Evaluation=False
SP_Classifier_Evaluation=True

#===================
# Sin implementar
#===================

# NUMERO DE PADRES
# Np2x=200
# NUMERO DE HIJOS
# H=300



#================== FIN CONFIGS ==================#
