#========================
# PARAMETROS DE EJECUCION
#========================


# NOMBRE CON QUE SE GUARDARA EL ARCHIVO DE RESULTADOS
# Filename="Prueba.json"


# ARCHIVOS DE ENTRENAMIENTO Y PRUEBA
# 
# >> RECORDAR SETEAR "Ngenes" DE ACUERDO AL DATASET <<
# 

trnfile="data/GCM_Training_TRN2.arff"
tstfile="data/GCM_Training_TST2.arff"

TESTFINALtrnfile="data/GCM_Training.arff"
TESTFINALtstfile="data/GCM_Test.arff"


# porcentaje de patrones de ENTRENAMIENTO a utilizar
ptrain=70.0

# DIRECTORIO ARCHIVOS DE SALIDA

outdir="./resultados_para_borrar_GCM"

# CANTIDAD DE PROCESADORES
NProcesos=12

# EJECUTABLE PARA CALCULO DEL FITNESS
cmd="./fitsvm"


# NUMERO DE OBJETIVOS
NObjetivos=2


#======================
# PARAMETROS de LIBSVM
#======================

# Ver help SVMLIB
# configs_trn=" -s 0 -t 0 -q "
configs_trn=" -s 0 -t 1 -c 10 -g 0.1 -r 1 -d 1 -q "
configs_tst=" -q "

Normalizar=True

#======================
# PARAMETROS GENERALES
#======================

# NUMERO MAXIMO DE GENERACIONES
Gmax=500

# PROBABILIDAD DE CRUZA
px=0.90

# PESO DE LA FUNCION DE FITNESS
alpha=0.8
beta=0.2


#======================
# MUTACION
#======================

# PROBABILIDAD DE MUTACION
pm=0.1

# MUTACION CON DECAIMIENTO (si falso usa pm)
Exponencial=True
# Multiplicadores de 1/L:
GammaINI=10.0
GammaFIN=0.1

# Funcion Amortiguada
Amortiguada=False
amA=0.35
amF=5.0
amPhi=3.14

#===================
# CRITERIOS DE CORTE
#===================

# FITNESS DESEADO
fitmax=1.0

# GENERACIONES SIN MEJORAS (porcentaje de Gmax)
steady=100
# =100 -> disabled

#===================
# POBLACION GENERAL
#===================

# NUMERO DE INDIVIDUOS
Nindividuos=100

# NUMERO DE GENES EN EL CROMOSOMA
# GCM # 
Ngenes=16063


# NUMERO DE INDIVIDUOS ELITE
E=1

# BRECHA GENERACIONAL
# cantidad de invididuos
Brecha=0

# METODO DE SELECCION
# [1-Ruleta - 2-Torneo - 3-Ventana]
OpSeleccion=2

# METODO DE MUTACION
# [1-de cromosoma - 2-de bit]
OpMutacion=2

# Tasa de activacion de caracteristicas en la poblacion inicial
TasaActivacionInicial=0.02


#===================
# FITNESS SHARING
#===================

# Niche Size
# SigmaShare=0.5 
# AlfaShare=3.0
SigmaShare=0.7 
AlfaShare=1.0
# Dist 0: genotype space / Dist 1: objective space.
dist_opt=1


#===================
# SUBPOBLACIONES
#===================

# NUMERO DE SUBPOBLACIONES
NSubPoblaciones=0

# NUMERO DE INDIVIDUOS
Nindividuos_s=50

# NUMERO MAXIMO DE GENERACIONES
Gmax_s=100

# GENERACIONES GENERALES DE ESPERA ENTRE SUBPOBLACIONES
SPobWait=5

# TIPO DE REEMPLAZO DESDE SUBPOS HACIA POBL GENERAL
SubPob_Replace_Type="reemplazo_completo"
# "reemplazo_padre"
# "reemplazo_completo"

#===================
# Sin implementar
#===================

# NUMERO DE PADRES
# Np2x=200
# NUMERO DE HIJOS
# H=300



#================== FIN CONFIGS ==================#
