#========================
# PARAMETROS DE EJECUCION
#========================


# ARCHIVOS DE ENTRENAMIENTO Y PRUEBA
# 
# >> RECORDAR SETEAR "Ngenes" DE ACUERDO AL DATASET <<
# 


trnfile="data/additional/smartphone_activity_trn.arff"
tstfile="data/additional/smartphone_activity_tst.arff"

# NUMERO DE GENES EN EL CROMOSOMA
Ngenes=561

WriteYamlFile=True

#======================


# DIRECTORIO ARCHIVOS DE SALIDA

outdir="_NEW_OUTPUT"



# CANTIDAD DE PROCESADORES
NProcesos=14

# EJECUTABLE PARA CALCULO DEL FITNESS
cmd="./bin/fitness"

# EJECUTABLE PARA EL TeST
testbin="./bin/test"

#======================
# CLASSIFIERS
#======================

classifier="DT"
test_classifier="DT,RF,ADA,SVM,NB"
# test_classifier="DT,RF,ADA,SVM,MLP,NB"

#======================
# CLASSIFIER PARAMETERS
#======================

classifier_ADA_config="50 100 1e-3"
classifier_DT_config="0 0 100"
classifier_RF_config="150 1 1e-7 0"
classifier_SVM_config="0.01 1e-3 1"
classifier_MLP_config="0 0"
classifier_RBF_config="5 1"
classifier_NB_config="1 1e-10"

# AdaBoost: perceptron train epochs / iterations / tolerance     
# DecisionTree: minimum leaf size / minimum gain split / maximum depth     
# RandomForest: number of Trees / minimum Leaf Size / minimum Gain Split / maximum Depth 
# SVM: L2-regularization constant / Margin of difference between classes 
# MLP: layer 1 units / layer 2 units 
# layer units:  0 -> (attribs + classes)/2; (-1) -> (attribs + classes)
# RBF: number of centroids / betas: value to be used with centres 
# NaiveBayes: incrementalVariance=false / epsilon=1e-10 

Optimizer="Adam"
optimizer_Adam_config="0.01 10 0.9 0.999 1e-8 50 1e-3 1"
optimizer_AdaMax_config="0.001 10 0.9 0.999 1e-8 50 1e-5 1"
optimizer_AmsGrad_config="0.001 10 0.9 0.999 1e-8 50 1e-5 1"
optimizer_Nadam_config="0.001 10 0.9 0.999 1e-8 50 1e-5 1"
optimizer_Nadamax_config="0.001 10 0.9 0.999 1e-8 50 1e-5 1"
optimizer_SGD_config="50 10 0.03 1e-5 1"
optimizer_RMSProp_config="0.01 10 0.99 1e-8 50 1e-5 1"
optimizer_AdaDelta_config="1.0 10 0.95 1e-6 50 1e-5 1"
optimizer_AdaGrad_config="0.01 10 1e-8 50 1e-5 1"

# SGD: epochs=50, batchSize=10, trainingSpeed=0.03, tolerance=1e-5, shuffle=true       
# RMSProp: stepSize=0.01, batchSize=10, alpha=0.99, epsilon=1e-8, maxEpoch=50, tolerance=1e-5, shuffle=true
# AdaDelta: stepSize=1.0, batchSize=10, rho=0.95, epsilon=1e-6, maxEpoch=50, tolerance=1e-5, shuffle=true 
# AdaGrad: stepSize=0.01, batchSize=10, epsilon=1e-8, maxEpoch=50, tolerance=1e-5, shuffle=true 
# Adam: stepSize=0.001, batchSize=10, beta1=0.9, beta2=0.999, epsilon=1e-8, maxEpoch=50, tolerance=1e-5, shuffle=true 
# Adamax: stepSize=0.001, batchSize=10, beta1=0.9, beta2=0.999, epsilon=1e-8, maxEpoch=50, tolerance=1e-5, shuffle=true 
# AmsGrad: stepSize=0.001, batchSize=10, beta1=0.9, beta2=0.999, epsilon=1e-8, maxEpoch=50, tolerance=1e-5, shuffle=true 
# Nadam: stepSize=0.001, batchSize=10, beta1=0.9, beta2=0.999, epsilon=1e-8, maxEpoch=50, tolerance=1e-5, shuffle=true 
# Nadamax: stepSize=0.001, batchSize=10, beta1=0.9, beta2=0.999, epsilon=1e-8, maxEpoch=50, tolerance=1e-5, shuffle=true 

Normalizar=True
Estandarizar=False
DataShuffle=True
NTests=1
validationSize=0.3



#======================
# FUNCIONES OBJETIVO
#======================

# NUMERO DE OBJETIVOS
NObjetivos=3
# 1er Obj -> Classif UAR
# 2do Obj -> # features
# 3er Obj -> Relief Measure 


# Aplicar sigmoida en la 2da Func Obj
Obj2Sigmod=True
SigmLambda=0.5
SigmGamma=0.0



#======================
# PARAMETROS GENERALES
#======================


# NUMERO MAXIMO DE GENERACIONES
Gmax=300

# PROBABILIDAD DE CRUZA
px=0.90


# TeST solo sobre el mejor del frente
onlyBest=True
# Funcion para elegir un cromo para TeST
Rfun=2
# 1: (menor distancia al punto (1,1) de fintess
# 2: cociente UAR/Nfeats

# Aplicar operador de variacion 
# a los individuos repetidos
ModifyRepeated=True


#======================
# FUNCION DE FITNESS
#======================
# Options
# 1: Rank based Sharing (MOGA)
# 2: Mean-Rank-Distance based Sharing 
# 3: Cluster based Sharing
FitnessOption=3
# Escalar por cant indiv en el rango
FitnessNRScale=False


#======================
# MUTACION
#======================

# PROBABILIDAD DE MUTACION
# pm=0.1
pm=0.15


# MUTACION CON DECAIMIENTO (si falso usa pm)
Exponencial=False
# Exponencial=False
# Multiplicadores de 1/L:
GammaINI=10.0
GammaFIN=0.1

# Funcion Amortiguada
Amortiguada=False
amA=0.35
amF=5.0
amPhi=3.14


#===================
# CRITERIOS DE CORTE
#===================

# FITNESS DESEADO
fitmax=0.9999

# GENERACIONES SIN MEJORAS (porcentaje de Gmax)
steady=100
# =100 -> disabled

#===================
# POBLACION GENERAL
#===================

# NUMERO DE INDIVIDUOS
Nindividuos=90



# NUMERO DE INDIVIDUOS ELITE
# En MOGA se hace un muestreo de los individuos del frente actual,
# por lo tanto deberia ser un numero razonablemente mayor que 1
E=10

# BRECHA GENERACIONAL
# cantidad de invididuos
# Brecha=0
Brecha=10

# METODO DE SELECCION
# [1-Ruleta - 2-Torneo - 3-Ventana]
# OpSeleccion=2
OpSeleccion=1

# METODO DE MUTACION
# [1-de cromosoma - 2-de bit]
OpMutacion=2

# ---------------------------------------------------
# Tasa de activacion de genes en la poblacion inicial
# ---------------------------------------------------

TasaActivacionInicial=0.03
TasaActivacionSubPob=0.5

# ----------------------
# para poblacion general
TasaActivacionEscalonada=True
# para el 55% de la pob
TasaActivacion55=0.03
# para el 30% de la pob
TasaActivacion30=0.15
# para el 15% de la pob
TasaActivacion15=0.35


#===================
# FITNESS SHARING
#===================

# Niche Size (neighborhood size)
SigmaShare=0.04 
AlfaShare=1.0 
# SigmaShare=0.05 
# AlfaShare=1.0
# mayor AlfaShare va a hacer que mas indiv entren en la vecindad 
# Dist 0: genotype space / Dist 1: objective space.
dist_opt=0

#===================
# SUBPOBLACIONES
#===================

# NUMERO DE SUBPOBLACIONES
NSubPoblaciones=0
# NSubPoblaciones=3

# NUMERO DE INDIVIDUOS
Nindividuos_s=50

# NUMERO MAXIMO DE GENERACIONES
Gmax_s=70

# GENERACIONES GENERALES DE ESPERA ENTRE SUBPOBLACIONES
SPobWait=5

# TIPO DE REEMPLAZO DESDE SUBPOS HACIA POBL GENERAL
# SubPob_Replace_Type="reemplazo_completo"
# SubPob_Replace_Type="reemplazo_padre"
SubPob_Replace_Type="reemplazo_seleccion"

# Si falso no uso clasificador para evaluar en SubPob
# SP_Classifier_Evaluation=False
SP_Classifier_Evaluation=True

#===================
# Sin implementar
#===================

# NUMERO DE PADRES
# Np2x=200
# NUMERO DE HIJOS
# H=300



#================== FIN CONFIGS ==================#
